body{
    
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Calibri Light';
}
header{
    margin-top: 120px;
    display: inline-block;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container{
    margin: 0 auto;
    width: 863px;

}


.nav{
    margin-left: -20px;
    height: 80px;
    font-size: 18px;
    font-family: 'Calibri Light';
}

.logo{
    margin-top: -100px;
    margin-left: 300px;
}
.logotext{

    text-transform: uppercase;
    font-size: 20px;
    margin-top: -5px;
    margin-left: 3px;
    color: black;
}
.logo_link{
    text-decoration: none;
}
.logo_link:hover{
    text-decoration: none;
}
.nav__list{
    text-align: center;
    padding-top: 30px;
    padding-left: 86px;
    margin-left: -77px;

}

.nav__list li{
    
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #5c4196a4;
    margin-left: -6px;
    display:inline-block;
    color: rgb(0, 0, 0);
    
}
.nav__link{
    
    padding:23px 30px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.nav__link:hover{
    background-color: #5C4196;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-out;
    text-decoration: none;
    
}
.inner__container{
    width: 800px;
    margin: 0 auto;

}
.about{
    margin-top: 55px;
    margin-bottom: 55px;
}
.about__box{
    font-size: 26px;
    text-transform: uppercase;
    border: 5px solid #5C4196;
    padding: 10px 30px;
    width: 75px;
}
.about__info{
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
}
.news__box{
    font-size: 26px;
    text-transform: uppercase;
    border: 5px solid #5C4196;
    padding: 10px 30px;
    width: 260px;
}
.copy{
   margin: 0 auto;
   padding: 15px;
    text-align: center;
}
.footer__info{
    padding-top: 15px;
}
.footer__info li{
    margin-left: -40px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    display: inline-block;

}
.footer__info li a{
 text-decoration: none;
 color: rgb(0, 0, 0);
}
.footer__info li a:hover{
text-decoration: underline;
}
.active{
    background-color: #5C4196;
    color: rgb(255, 255, 255);

    
}

    .red{
        background-color: red;
        width: 100%;
        height: 200px;
    }

    .footer{
        height: 145px;
        background-color: #5c419675;
        font-size: 18px;
        font-family: 'Calibri Light';
        
    }
    .subfooter{
        height: 80px;
        color: #fff;
        background-color: #5C4196;
    }

    .news__card{
        min-height: 130px;
        margin-bottom: 40px;
        width: 100%;
        height: 100%;
        
    }
    .cardimg{
        width: 150px ;
        height: 150px;
        
    }
    .news__card__title{
        font-size: 16px;
        font-family: 'Calibri Light';
        max-width: fit-content;
        font-weight: bold;
        line-height: 1;
        color: #000000;
        margin-left: 200px;
        margin-top: -130px;
    }
    .news_art{
        font-size: 18px;
        font-family: 'Calibri Light';

        font-style: normal;
        font-weight: normal;
        line-height: 1;
        color: #000000;
        margin-left: 200px;
        margin-top: -10px;
    }

   .sd{
        display: none;
      }
      .contacts{
          padding: 90px;
          width: 550px;

      }
      .contacts p{
          font-size: 18px;
      }
      .contacts a{
          font-weight: bold;
          text-decoration: none;
          color: #000;
      }
      .contacts a:hover{
          text-decoration: underline;
      }

      #formadd{
          display: none;
      }
      .read__btn{
          padding: 10px;

          border: 2px solid rgba(0, 0, 0, 0);
          border-radius: 5px;
          float: right;
          background-color: rgb(90, 175, 255);
          color: ghostwhite;
      }
      .exit{
          float: right;
          background-color: #000;
          color: #fff;
          padding: 10px;
          text-decoration: none;
      }

      .container2{
        
        width: 900px;
          margin: 0 auto;
      }
      .container2 h1{
          font-size: 30px;
      }
      .hidden{
          color: #000;
          background-color: #000;
      }
      .big{
          font-style: italic;
          float: right;
          font-size: 18px;
      }

      .cardimg__post{
          width: 220px;
          height: 330px;
      }
      .news__card__title__post{
          
          margin-left: 300px;
          font-size: 20px ;
          margin-top: -330px;
          margin-bottom: 330px;
          
      }

      .news_art__post{
          font-size: 20px;
          margin-top: -300px;
          margin-left: 250px;
          min-height: 400px;
      }
.au_container{
    padding: 23px;
    
}
      
.rb{
    display: inline-block;
    
    
    min-height: 250px;
    max-height: 250px;
    width: 130px;
    margin-left: 80px;
    margin-top: 28px;

    
    
}
.pg{
    display: inline-block;
    height: 150px ;
    width: 150px;
    
    
}
.rb p{
    color: black;
    text-decoration: none;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.cardimg_au{

    width: 100%;
    height: 100%;
}
.buy p{
    margin-left: 30px;
}
.buy:hover{
    color: black;
}

.ss{
    width: 100px;
    height: 90px;
    font-size: 10px;
    float: right;
}

.hide{
    display: none;
}

.add_to_cart{
    background-color: #000;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px;
    margin-left: 45px;
    cursor: pointer;
}

.add_to_cart:hover{
    background-color: rgb(136, 136, 136);

    transition: 0.2s;

}
.cart_list{
    font-size: 20px;
}
.cart_prew{

    width: 100px;
    height: 100px;
}
.cart_list{
    font-size: 20px;
    margin-top: -100px; 
    margin-left: 140px;
    margin-bottom: 100px;
}

.cart_alert{
    font-size: 20px;
}

.next{
    font-size: 20px;
    padding: 10px;
    background-color: black;
    color: blanchedalmond;

}

.right{
    color: rgb(255, 255, 255);
}